@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Outfit:wght@100..900&family=Prata&display=swap');
@import "tailwindcss";

@theme {
  --color-primary: #1F2853;
  --color-secondary: #FF4E45;
  --font-sans: 'Google Sans', sans-serif;
}

body {
  margin: 0;
  font-family: 'Google Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
} */

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* Remove built-in browser icons for inputs */
input::-ms-reveal,
input::-ms-clear {
  display: none;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

/* Hide Google Translate Toolbar */
.goog-te-banner-frame.skiptranslate, 
.skiptranslate > iframe.skiptranslate {
  display: none !important;
  visibility: hidden !important;
}

body {
  top: 0px !important;
}